.page-title {
  text-align: center;
  margin: 12px 0;
}

.login-card {
  margin: 0 auto;
  width: 320px;
  padding: 16px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 14px;
  box-shadow: 3px 2px 12px rgba(0, 0, 0, 0.2);
}

.input-group {
  margin-bottom: 16px;
}

.input-group label {
  cursor: pointer;
}

.input-group input {
  display: block;
  width: 100%;
  border: 1px solid var(--border-color);
  padding: 4px 8px;
  margin: 8px 0;
  border-radius: 6px;
  outline: none;
  transition: all 100ms ease-in;
}

.input-group input:focus {
  border: 1px solid var(--default-blue);
}

.input-group a {
  float: right;
}

.card-link {
  color: var(--default-blue);
}

.card-link:hover {
  text-decoration: underline;
}

.chk-remember {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.chk-remember input {
  margin-right: 6px;
}

.submit-button {
  display: block;
  width: 100%;
  font-size: 14px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
  margin: 16px 0;
  background: transparent;
  transition: all 100ms ease-in;
  box-shadow: 0 0 5px rgba(0, 153, 255, 0);
}

.submit-button:hover {
  color: white;
  background: var(--default-blue);
  border: 1px solid var(--default-blue);
  box-shadow: 0 0 5px rgba(0, 153, 255, 0.5);
}

.callout {
  margin-top: 12px;
  text-align: center;
}
